@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

:root {
  --blue: #0995fa;
  --red: #f0310b;
  --yellow: #f6e608;
  --transition-time: 0.15s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  font-family: "Space Grotesk", sans-serif;
}

/* CONTAINER */
.container {
  width: 768px;
  margin: 0 auto;
}

/* BUTTONS */
button {
  font-family: inherit;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
}

.btn {
  padding: 1rem;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
}

/* TIMER SECTION */
.timer-section {
  margin-bottom: 3rem;
}

/* TIMER */
.timer-display {
  font-size: 5rem;
  text-align: center;
}

.timer-display .separator {
  margin: 0 0.5rem;
}

.timer-display .time-unit {
  font-size: 3rem;
}

/* TIMER INPUT */
.timer-input {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  max-width: 580px;
  display: none;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: #1f1f1f;
}

.timer-input.show-input-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-input > div:first-child {
  display: flex;
  align-items: center;
}

.timer-input > div:first-child > div {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.timer-input > div:first-child > div:last-child {
  margin-right: 0;
}

.timer-input > div:first-child input[type="number"] {
  padding: 0.5rem;
  color: #fff;
  font-size: 2.5rem;
  font-family: inherit;
  text-align: center;
  border: 0;
  border-radius: 0.5rem;
  outline: 2px solid #3f3f3f;
  background-color: #000;
}

.timer-input > div:first-child input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.timer-input > div:first-child input[type="number"]:focus {
  outline-color: #7f7f7f;
}

.timer-input > div:first-child .set-timer-ctrls {
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: #fff;
  border: 0;
  border-radius: 0.5rem;
  background-color: transparent;
}

.timer-input > div:first-child .set-timer-ctrls:hover {
  background-color: #2f2f2f;
}

.timer-input > div:first-child .set-timer-ctrls:active {
  background-color: #333;
}

.timer-input > div:first-child span {
  margin-top: 1rem;
  text-align: center;
}

.timer-input > div:last-child button {
  margin-top: 2rem;
  padding: 0.875rem 2rem;
  color: #fff;
  border-color: #fff;
  border-radius: 0.5rem;
  transition: var(--transition-time) all;
}

.timer-input > div:last-child button:hover {
  color: #000;
  background-color: #fff;
}

.timer-input > div:last-child button:active {
  transform: scale(0.94);
}

/* TIMER CONTROLS */
.timer-ctrls {
  width: 50%;
  margin: 0 auto 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.timer-ctrls .btn {
  width: 4.3rem;
  height: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: var(--transition-time) all;
}

.timer-ctrls .btn:active {
  transform: scale(0.94);
}

.timer-ctrls .timer-start {
  color: var(--blue);
  border-color: var(--blue);
}

.timer-ctrls .timer-start:hover {
  color: #000;
  background-color: var(--blue);
}

.timer-ctrls .timer-stop {
  color: var(--red);
  border-color: var(--red);
}

.timer-ctrls .timer-stop:hover {
  color: #fff;
  background-color: var(--red);
}

.timer-ctrls .timer-pause {
  color: var(--yellow);
  border-color: var(--yellow);
}

.timer-ctrls .timer-pause:hover {
  color: #000;
  background-color: var(--yellow);
}

.timer-ctrls .btn.disabled,
.timer-ctrls .btn.disabled:hover,
.timer-ctrls .btn.disabled:active {
  border: 1px solid #555;
  background-color: #222;
  color: #555;
  transform: none;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .container {
    max-width: 95%;
  }

  /* TIMER CONTROLS */
  .timer-ctrls {
    width: 70%;
  }
}

@media (max-width: 650px) {
  /* TIMER DISPLAY */
  .timer-display {
    font-size: 3rem;
  }

  .timer-display .separator {
    margin: 0 2px;
  }

  .timer-display .time-unit {
    font-size: 2rem;
  }

  /* TIMER INPUT */
  .timer-input {
    max-width: 580px;
    padding: 1rem 2rem;
  }

  .timer-input > div:first-child > div {
    margin-right: 1rem;
  }

  .timer-input > div:first-child input[type="number"] {
    padding: 5px;
    font-size: 2rem;
  }

  .timer-input > div:first-child span {
    margin-top: 0.5rem;
  }

  .timer-input > div:last-child button {
    padding: 0.75rem 2rem;
  }

  /* TIMER CONTROLS */
  .timer-ctrls .btn {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (max-width: 375px) {
  /* TIMER DISPLAY */
  .timer-display {
    font-size: 3.5rem;
  }

  /* TIMER CONTROLS */
  .timer-ctrls {
    width: 90%;
  }
}
